In [55]:
import yfinance as yf
import pandas as pd
import datetime as dt
import simfin as sf
import tensorflow as tf
import numpy as np

In [56]:
# First load the Simfin file containing the data

In [95]:
class Company():
    def __init__(self, ticker, market='us'):
        # Initialize the Simfin dataset
        sf.set_data_dir('C:Users\\Andi\\Desktop\\Udemy\\Python-Notebook\\Finance\\tickers')
        sf.set_api_key(api_key='free')
        
        # Attributes
        self._ticker = ticker
        self._company = yf.Ticker(self._ticker)
        self._market = market
        #self._market_cap
        #self._beta
        #self._shares_outstanding
        #self._growth_perp
        
        # Revenue
        self._revenue = self.income_sheet()['Revenue']
        
        self._growth_rate = self._revenue.pct_change(1)
        
        # Net Icome
        self._net_income = self.income_sheet()['Net Income']
        
         # Cash flow from operating activities (cahflow)
        self._CF_OA = self.cashflow()['Net Cash from Operating Activities']
        
         # Capital expenditures or also called Change in Fixed Assets & Intangibles (cashflow)
        self._CAPEX = self.cashflow()['Change in Fixed Assets & Intangibles']
        
        # Free cash flow computed from CF_OA - CAPEX (it is already negative CAPEX so we use a positive sign)
        self._FCF = self._CF_OA + self._CAPEX
        
        # Get the historical daily values since day 0
        self._history = self._company.history(period="max")
        self._history.drop(columns=['Dividends', 'Stock Splits'], inplace=True)
        
        # Logaritmic return of the stcok since day 0: 
        self._log_return = np.log(self._history['Close']/self._history['Close'].shift(1))
        
        # Sharpe Ratio and Annual SR
        self._sr = self.expected_return()/self.volatility()
        self._asr = self._sr*(252**0.5)
        
        # Expected Anual Volatility of the stock since day start_date
    def volatility(self, weights = 1):
        if weights == 1:
            return self._log_return.std()*252
        
        # Expected anual return 
    def expected_return(self):
        return self._log_return.mean()*252
        
        
    def normed_return(self, open_buy, start_date =0):
        if start_date !=0 and open_buy !=0:
            return self._history.loc[start_date:]['Close']/open_buy
        
        if start_date !=0 and open_buy ==0:
            return self._history.loc[start_date:]['Close']/self._history.iloc[0]['Close']
        
        if start_date ==0 and open_buy ==0:
            return self._history.loc['Close']/self._history.iloc[0]['Close']
        
        return self._history['Close']/open_buy
        
      
    def position(self, start_date=0, open_buy=0, amount_invested=1, allocation=1):
        position = self.normed_return(open_buy, start_date)*amount_invested*allocation
        daily_return = position.pct_change(1)
        daily_return_percentage = round(daily_return*100,2)
        df = pd.concat([position, daily_return, daily_return_percentage], axis=1)
        df.columns = ['Position '+self._ticker, 'Daily Return', 'Daily Return %']
        return df
        
    def income_sheet(self, time='annual'):
        columns = ['Revenue', 'Cost of Revenue', 'Gross Profit', 'Operating Expenses', 'Income Tax (Expense) Benefit, Net', 
                   'Operating Income (Loss)','Net Income','Pretax Income (Loss)']
        income_sheet_df = sf.load_income(variant=time, market= self._market).loc[self._ticker][columns]
        income_sheet_df.fillna(0, inplace=True)
        
        return income_sheet_df
        
    def balance_sheet(self,time='annual'):
        balance_sheet_df = sf.load_balance(variant=time, market= self._market).loc[self._ticker, 'Cash, Cash Equivalents & Short Term Investments':]
        balance_sheet_df.fillna(0,inplace=True)
                                                                                    
    
    
    def cashflow(self,time='annual'):
        cash_flow_df = sf.load_cashflow(variant=time, market= self._market).loc[self._ticker, 'Net Income/Starting Line':]
        cash_flow_df.drop(['Change in Accounts Receivable','Change in Other', \
                           'Change in Accounts Payable', 'Change in Inventories'], axis = 1, inplace=True)
        cahs_flow_df = cash_flow_df.fillna(0, inplace=True)
        return cash_flow_df
        
    def info(self):
        return self._company.info
        
    def plot():
        
        pass
    
    def valuation_method(self, method ="DCF"):
        
        def DCF(self):
            # We use the Discounted Cash Flow valuation model i order to estimate the Intrinsic Value
            pass
        
        if method == 'DCF':
            pass
        
    
        def Earnings_valuation(self):
            print("Earnings")
        
    
        
      
    
    def portfolio(stocks, allocation, amount):
          pass
    
    def estimate(self, n_years, method='linear'):
        
        def linear():
            pass
        
        def DNN():
            pass

In [96]:
aapl = Company("AAPL")

Dataset "us-income-annual" on disk (7 days old).
- Loading from disk ... Done!
Dataset "us-income-annual" on disk (7 days old).
- Loading from disk ... Done!
Dataset "us-cashflow-annual" on disk (6 days old).
- Loading from disk ... Done!
Dataset "us-cashflow-annual" on disk (6 days old).
- Loading from disk ... Done!

In [97]:
start = '2020-11-17'

In [98]:
aapl.position(start, 200, 100)

            Position AAPL  Daily Return  Daily Return %
Date
2020-11-17      59.695000           NaN             NaN
2020-11-18      59.014999     -0.011391           -1.14
2020-11-19      59.320000      0.005168            0.52
2020-11-20      58.669998     -0.010958           -1.10
2020-11-23      57.382500     -0.021945           -2.19

In [99]:
aapl.volatility()

7.338526011984954

In [100]:
aapl.expected_return()

0.17621028781728237

In [102]:
aapl._asr

0.38117349390402316

In [125]:
cf = aapl.cashflow()
cf

Dataset "us-cashflow-annual" on disk (1 days old).
- Loading from disk ... Done!

,Net Income/Starting Line,Depreciation & Amortization,Non-Cash Items,Change in Working Capital,Net Cash from Operating Activities,Change in Fixed Assets & Intangibles,Net Change in Long Term Investment,Net Cash from Acquisitions & Divestitures,Net Cash from Investing Activities,Dividends Paid,Cash from (Repayment of) Debt,Cash from (Repurchase of) Equity,Net Cash from Financing Activities,Net Change in Cash
Report Date,,,,,,,,,,,,,,
2000-09-30,7.860000e+08,8.400000e+07,-1.940000e+08,1.920000e+08,868000000,-1.420000e+08,3.215000e+09,0.000000e+00,-9.720000e+08,0.000000e+00,0.000000e+00,-3.100000e+07,-3.100000e+07,-135000000
2001-09-30,-2.500000e+07,1.000000e+08,-1.010000e+08,2.110000e+08,185000000,-2.320000e+08,5.151000e+09,-1.900000e+07,8.920000e+08,0.000000e+00,0.000000e+00,4.200000e+07,4.200000e+07,1119000000
2002-09-30,6.500000e+07,1.140000e+08,2.200000e+07,-1.120000e+08,89000000,-1.740000e+08,2.871000e+09,-5.200000e+07,-2.520000e+08,0.000000e+00,0.000000e+00,1.050000e+08,1.050000e+08,-58000000
2003-09-30,6.900000e+07,1.130000e+08,-1.100000e+07,1.190000e+08,290000000,-1.640000e+08,2.491000e+09,0.000000e+00,8.280000e+08,0.000000e+00,0.000000e+00,2.700000e+07,2.600000e+07,1144000000
2004-09-30,2.660000e+08,1.500000e+08,1.500000e+08,3.680000e+08,934000000,-1.760000e+08,1.141000e+09,0.000000e+00,-1.488000e+09,0.000000e+00,-3.000000e+08,4.270000e+08,1.270000e+08,-427000000
2005-09-30,1.328000e+09,1.790000e+08,5.360000e+08,4.920000e+08,2535000000,-2.600000e+08,8.609000e+09,0.000000e+00,-2.556000e+09,0.000000e+00,0.000000e+00,5.430000e+08,5.430000e+08,522000000
2006-09-30,1.989000e+09,2.250000e+08,2.310000e+08,-2.250000e+08,2220000000,-6.850000e+08,7.201000e+09,0.000000e+00,3.570000e+08,0.000000e+00,0.000000e+00,-3.700000e+07,3.240000e+08,2901000000
2007-09-30,3.496000e+09,3.170000e+08,3.290000e+08,1.325000e+09,5467000000,-9.860000e+08,-2.312000e+09,0.000000e+00,-3.249000e+09,0.000000e+00,0.000000e+00,3.650000e+08,7.420000e+08,2960000000
2008-09-30,6.119000e+09,4.960000e+08,9.360000e+08,2.045000e+09,9596000000,-1.199000e+09,-6.760000e+09,-2.200000e+08,-8.189000e+09,0.000000e+00,0.000000e+00,4.830000e+08,1.116000e+09,2523000000
2009-09-30,8.235000e+09,7.340000e+08,1.750000e+09,-5.600000e+08,10159000000,-1.213000e+09,-1.604600e+10,0.000000e+00,-1.743400e+10,0.000000e+00,0.000000e+00,4.750000e+08,6.630000e+08,-6612000000
2010-09-30,1.401300e+10,1.027000e+09,2.319000e+09,1.236000e+09,18595000000,-2.121000e+09,-1.107500e+10,-6.380000e+08,-1.385400e+10,0.000000e+00,0.000000e+00,9.120000e+08,1.257000e+09,5998000000
2011-09-30,2.592200e+10,1.814000e+09,4.036000e+09,5.757000e+09,37529000000,-7.452000e+09,-3.246400e+10,-2.440000e+08,-4.041900e+10,0.000000e+00,0.000000e+00,8.310000e+08,1.444000e+09,-1446000000
2012-09-30,4.173300e+10,3.277000e+09,6.145000e+09,-2.990000e+08,50856000000,-9.402000e+09,-3.842700e+10,-3.500000e+08,-4.822700e+10,-2.488000e+09,0.000000e+00,6.650000e+08,-1.698000e+09,931000000
2013-09-30,3.703700e+10,6.757000e+09,3.394000e+09,6.478000e+09,53666000000,-9.076000e+09,-2.404200e+10,-4.960000e+08,-3.377400e+10,-1.056400e+10,1.689600e+10,-2.233000e+10,-1.637900e+10,3513000000
2014-09-30,3.951000e+10,7.946000e+09,5.210000e+09,7.047000e+09,59713000000,-9.813000e+09,-9.017000e+09,-3.775000e+09,-2.257900e+10,-1.112600e+10,1.826600e+10,-4.427000e+10,-3.754900e+10,-415000000
2015-09-30,5.339400e+10,1.125700e+10,4.968000e+09,1.164700e+10,81266000000,-1.148800e+10,-4.441700e+10,-3.430000e+08,-5.627400e+10,-1.156100e+10,2.930500e+10,-3.471000e+10,-1.771600e+10,7276000000
2016-09-30,4.568700e+10,1.050500e+10,9.148000e+09,8.910000e+08,66231000000,-1.273400e+10,-3.202200e+10,-2.970000e+08,-4.597700e+10,-1.215000e+10,2.205700e+10,-2.922700e+10,-2.089000e+10,-636000000
2017-09-30,4.835100e+10,1.015700e+10,1.080600e+10,-5.089000e+09,64225000000,-1.245100e+10,-3.354200e+10,-3.290000e+08,-4.644600e+10,-1.276900e+10,2.901400e+10,-3.234500e+10,-1.797400e+10,-195000000
2018-09-30,5.953100e+10,1.090300e+10,-2.725000e+10,3.425000e+10,77434000000,-1.331300e+10,3.084500e+10,-7.210000e+08,1.606600e+10,-1.371200e+10,4.320000e+08,-7.206900e+10,-8.787600e+10,5624000000
2019-09-30,5.525600e+10,1.254700e+10,5.728000e+09,-4.140000e+09,69391000000,-1.049500e+10,5.809300e+10,-6.240000e+08,4.589600e+10,-1.411900e+10,-7.819000e+09,-6.611600e+10,-9.097600e+10,24311000000

In [129]:
ias = aapl.income_sheet()

Dataset "us-income-annual" on disk (1 days old).
- Loading from disk ... Done!

In [130]:
ias

,Revenue,Cost of Revenue,Gross Profit,Operating Expenses,"Income Tax (Expense) Benefit, Net",Operating Income (Loss),Net Income,Pretax Income (Loss)
Report Date,,,,,,,,
2000-09-30,7.983000e+09,-5.817000e+09,2.166000e+09,-1.546000e+09,-3.060000e+08,6.200000e+08,786000000,1092000000
2001-09-30,5.363000e+09,-4.128000e+09,1.235000e+09,-1.568000e+09,1.500000e+07,-3.330000e+08,-37000000,-52000000
2002-09-30,5.742000e+09,-4.139000e+09,1.603000e+09,-1.555000e+09,-2.200000e+07,4.800000e+07,65000000,87000000
2003-09-30,6.207000e+09,-4.499000e+09,1.708000e+09,-1.683000e+09,-2.400000e+07,2.500000e+07,68000000,92000000
2004-09-30,8.279000e+09,-6.022000e+09,2.257000e+09,-1.921000e+09,-1.040000e+08,3.360000e+08,266000000,370000000
2005-09-30,1.393100e+10,-9.889000e+09,4.042000e+09,-2.399000e+09,-4.800000e+08,1.643000e+09,1328000000,1808000000
2006-09-30,1.931500e+10,-1.371700e+10,5.598000e+09,-3.145000e+09,-8.290000e+08,2.453000e+09,1989000000,2818000000
2007-09-30,2.400600e+10,-1.585200e+10,8.154000e+09,-3.745000e+09,-1.512000e+09,4.409000e+09,3496000000,5008000000
2008-09-30,3.749100e+10,-2.429400e+10,1.319700e+10,-4.870000e+09,-2.828000e+09,8.327000e+09,6119000000,8947000000
2009-09-30,4.290500e+10,-2.568300e+10,1.722200e+10,-5.482000e+09,-3.831000e+09,1.174000e+10,8235000000,12066000000
2010-09-30,6.522500e+10,-3.954100e+10,2.568400e+10,-7.299000e+09,-4.527000e+09,1.838500e+10,14013000000,18540000000
2011-09-30,1.082490e+11,-6.443100e+10,4.381800e+10,-1.002800e+10,-8.283000e+09,3.379000e+10,25922000000,34205000000
2012-09-30,1.565080e+11,-8.784600e+10,6.866200e+10,-1.342100e+10,-1.403000e+10,5.524100e+10,41733000000,55763000000
2013-09-30,1.709100e+11,-1.066060e+11,6.430400e+10,-1.530500e+10,-1.311800e+10,4.899900e+10,37037000000,50155000000
2014-09-30,1.827950e+11,-1.122580e+11,7.053700e+10,-1.803400e+10,-1.397300e+10,5.250300e+10,39510000000,53483000000
2015-09-30,2.337150e+11,-1.400890e+11,9.362600e+10,-2.239600e+10,-1.912100e+10,7.123000e+10,53394000000,72515000000
2016-09-30,2.156390e+11,-1.313760e+11,8.426300e+10,-2.423900e+10,-1.568500e+10,6.002400e+10,45687000000,61372000000
2017-09-30,2.292340e+11,-1.410480e+11,8.818600e+10,-2.684200e+10,-1.573800e+10,6.134400e+10,48351000000,64089000000
2018-09-30,2.655950e+11,-1.637560e+11,1.018390e+11,-3.094100e+10,-1.337200e+10,7.089800e+10,59531000000,72903000000
2019-09-30,2.601740e+11,-1.617820e+11,9.839200e+10,-3.446200e+10,-1.048100e+10,6.393000e+10,55256000000,65737000000

In [136]:
aapl.valuation_method()

UnboundLocalError: local variable 'DCF' referenced before assignment